.colorHeading
{
	color: white;
	background-color: #4D4A4A;
	padding: 10px
}
.paddingright
{
	padding-right: 6px;
}
.margintop{
	margin-top: 10px;
	background-color: white;
}

.mymenu{
	margin-top: 10px;
}
.mymenu .navbar-default{
	background:none;
	border: none;
}
.mymenu .navbar-nav .active a{
	background: #4D4A4A;
	color: white;
}
.mymenu .navbar-nav li a:hover{
	background: #4D4A4A;
	color: white;
}
.paddingTop{
	padding-top:  10px;
}
.myBackGround
{
	background: radial-gradient(circle ,#414141 ,#49494D);
	padding: 20px;
}
.color{
	color: white;
}
.padding{
	padding: 10px;
}